.card-title{
    font-size: 16px;
    font-weight: bold;
}

.card-image{
    font-size: 75px;
    text-align: center;
    padding: 20px;
    color: darkgray;
}

.lightshadedcolor{
    color: rgba(0,0,0,.4)
}
.submodule-list{
    padding: 5px 10px;
    background: #cecece42;
    cursor: pointer;
}