#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  
  .parentviewdownloadstatus{
    text-align: center;
    display: flex;
    
    span {
      font-size: 12px;
      margin-right: 5px;
  
      b{
        font-size: 19px;
      }
    }
  
  }


.solution{
  img {
    height: 120px;
  }

  .mediaelement{
        display: flex;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    
      .imageelement {
        height: 90px;
        border-radius: 20px;
        
      }
      .videodiv{
        display: flex;
        margin: auto;
        height: 90px;
        width: 48%;
        border-radius: 20px;
        filter: drop-shadow(0 0px 4px #00000017);
        background-repeat: no-repeat;
        background-size: cover;


        .playbtn{
          margin: auto;
          width: 35px;
          height: 35px;
        }
      }
  }
}