<div style="margin: 0; padding: 0">
  <app-topmenuheader></app-topmenuheader>
  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
        <app-sidenavmenu></app-sidenavmenu>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 auto-scroll">
        <ng-template #createCategoryList let-modal>
          <div class="modal-header">
            <h4 class="modal-title heading" id="modal-basic-title">
              Create a new Class/Exam Schedule
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mb-2 mb-md-0">
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputEmail1" class="form-label fw-bold">Select Class<span class="text-danger">*</span></label>
                <select [(ngModel)]="gradeId" [ngModelOptions]="{standalone: true}" class="form-select" multiple>                
                  <option value="0" selected disabled>Select Class</option>
                  <option *ngFor="let grade of gradeList" [ngValue]="grade._id">{{grade.gradeName}}
                  </option>
                </select>
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputEmail1" class="form-label fw-bold">Select Medium<span class="text-danger">*</span></label>
                <select [(ngModel)]="mediumId" [ngModelOptions]="{standalone: true}" class="form-select" multiple>                
                  <option value="0" selected disabled>Select Medium</option>
                  <option *ngFor="let medium of mediumsList" [ngValue]="medium._id">{{medium.name}}</option>
                </select>
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputTitle" class="form-label fw-bold"
                  >Enter Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Title here"
                  required
                  [(ngModel)]="Title"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputDescription" class="form-label fw-bold"
                  >Enter Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Description here"
                  required
                  [(ngModel)]="Description"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInpuThumbnail" class="form-label fw-bold"
                  >Enter Thumbnail</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Thumbnail here"
                  required
                  [(ngModel)]="Thumbnail"
                  [ngModelOptions]="{ standalone: true }"
                />
                <!-- <label for="exampleInpuThumbnail" class="form-label fw-bold" style="color: red;">Please Enter Valid Thumbnail Url</label> -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"

              [disabled]="true"
              class="btn btn-outline-dark"
              (click)="addCategoryList()"
            >
              Add
            </button>
          </div>
        </ng-template>
        <ng-template #editCategoryList let-modal>
          <div class="modal-header">
            <h4 class="modal-title heading" id="modal-basic-title">
              Edit Class/Exam Schedule
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mb-2 mb-md-0">
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputTitle" class="form-label fw-bold"
                  >Enter Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Title here"
                  [(ngModel)]="Title"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputDescription" class="form-label fw-bold"
                  >Enter Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Description here"
                  [(ngModel)]="Description"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInpuThumbnail" class="form-label fw-bold"
                  >Enter Thumbnail</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Thumbnail here"
                  [(ngModel)]="Thumbnail"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label for="exampleInputType" class="form-label fw-bold"
                  >Select Type</label
                >
                <select
                  [(ngModel)]="type"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-select"
                >
                  <option value="INTERACTIVE" selected>INTERACTIVE</option>
                  <option value="PLAYLIST">PLAYLIST</option>
                  <!-- <option *ngFor="let medium of mediumsList" [ngValue]="medium">{{medium.name}}</option> -->
                </select>
              </div>
              <div class="col-md-3 col-lg-3 mb-3" *ngIf="type == 'PLAYLIST'">
                <label for="exampleInpuURL" class="form-label fw-bold"
                  >Enter URL</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter URL here"
                  [(ngModel)]="url"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-md-3 col-lg-3 mb-3">
                <label
                  for="exampleInputContentStatus"
                  class="form-label fw-bold"
                  >Select Content Status</label
                >
                <select
                  [(ngModel)]="contentStatus"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-select"
                >
                  <option value="LIVE" selected>LIVE</option>
                  <option value="UPCOMING">UPCOMING</option>
                  <!-- <option *ngFor="let medium of mediumsList" [ngValue]="medium">{{medium.name}}</option> -->
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              [disabled]="Title == '' || Description == '' || Thumbnail == ''"
              class="btn btn-outline-dark"
              (click)="updateTestSeries()"
            >
              Update
            </button>
          </div>
        </ng-template>

        <div
          *ngIf="userType != 'TEACHER'"
          class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <div class="row mb-2 mb-md-0">
            <div class="col-md-4 col-lg-4 mb-3 row">
              <div class="col-md-12 col-lg-12 mb-3">
                <br />
                <button
                  type="button"
                  (click)="showaddTSModel(createCategoryList)"
                  class="btn btn-primary me-3"
                >
                  Add Class/Exam Schedule
                </button>
              </div>
              <!-- <div class="col-md-12 col-lg-12 mb-3">
                <br>
                <button type="button" (click)="downloadCategoryData()" class="btn btn-primary me-3">
                  Download All Section Data
                </button>          
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-3">
          <p class="text-theme h3">Class/Exam Schedule List</p>
          <!-- <div class="col-md-3 col-lg-3 mb-3" style="margin-left: 75%">
            <button
              type="button"
              (click)="downloadCategoryData()"
              class="btn btn-primary me-3"
            >
              Download All Section Data
              <i
                class="fa fa-download"
                title="DownloadSampleTestFile"
                style="cursor: pointer"
                aria-hidden="true"
              ></i>
            </button>
            <br />
            <br />
            <input
              type="search"
              class="form-control"
              placeholder="Search here"
              (keyup)="searchCategory($event)"
            />
          </div> -->
          <table mat-table [dataSource]="dataSource" class="w-100" matSort>
            <ng-container matColumnDef="Sr no.">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="heading"
              >
                Sr no.
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Grade & Medium">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="heading"
              >
              Grade & Medium
              </th>
              <td mat-cell *matCellDef="let element">{{ element.grade+" - "+element.medium}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="heading"
              >
                Title
              </th>
              <td mat-cell *matCellDef="let element">{{ element?.title }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="heading"
              >
                Description
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element?.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="thumbnail">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="heading"
              >
                Thumbnail
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element?.thumbnail }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="heading"
              >
                Actions
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  *ngIf="userType != 'TEACHER'"
                  type="button"
                  [disabled]="true"
                  (click)="editCategory(element, editCategoryList)"
                  class="btn btn-secondary me-2"
                >
                  <i
                    class="fa fa-edit"
                    title="Edit Category"
                    style="cursor: pointer"
                    aria-hidden="true"
                  ></i>
                </button>
                <button
                  *ngIf="userType != 'TEACHER'"
                  type="button"
                  [disabled]="true"
                  (click)="deleteCategory(element._id)"
                  class="btn btn-danger me-2"
                >
                  <i
                    class="fa fa-trash"
                    title="Delete Category"
                    style="cursor: pointer"
                    aria-hidden="true"
                  ></i>
                </button>
                <button
                  *ngIf="
                    userType != 'TEACHER' && element?.type == 'INTERACTIVE'
                  "
                  type="button"
                  [disabled]="true"
                  [routerLink]="[
                    '../media-section',
                    element?._id,
                    element?.title
                  ]"
                  class="btn btn-secondary me-2"
                >
                  <i
                    class="fa fa-check-square-o"
                    title="Add Media"
                    style="cursor: pointer"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="dataLength"
            [pageSizeOptions]="pageSizeOptions"
            showFirstLastButtons
            [pageSize]="pageSize"
            (page)="getNext($event)"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </main>
    </div>
  </div>
</div>
